<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="isNew !== undefined" class="fadeIn"><span *ngIf="isNew">New </span>Prayer</ion-title>
        <ion-buttons slot="end" *ngIf="item">
            <ion-button (click)="showMenu()">
                <ion-icon name="more"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item *ngIf="item" lines="none">
        <ion-textarea [autofocus]="isNew" [debounce]="500" [(ngModel)]="item.text" (ionFocus)="hasFocus.text = true"
            (ionBlur)="hasFocus.text = false" (ionChange)="save()" placeholder="Prayer..."></ion-textarea>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fadeIn delay fast" *ngIf="!isNew && !hasFocus.text && !hasFocus.title">
        <ion-fab-button (click)="addAnswer()">
            <ion-icon name="heart-empty"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>