<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!requestId && !prayerId"></ion-menu-button>
      <ion-back-button *ngIf="requestId || prayerId"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Answers to Prayer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-grouped-list [items]="items" [ready]="ready" (select)="edit($event)"></app-grouped-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fadeIn">
    <ion-fab-button (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>