<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Sign In</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab vertical="center" horizontal="center" slot="fixed">
        <ion-fab-button>
            <ion-icon name="person"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="bottom">
            <ion-fab-button>
                <ion-icon name="mail"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="call"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="logo-google"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>