<ion-list *ngIf="ready && groups.length" class="fadeIn">
  <ion-item-group *ngFor="let group of groups">
    <ion-item-divider sticky="true">
      <ion-label>{{group.label}}</ion-label>
    </ion-item-divider>
    <ion-item-sliding *ngFor="let item of group.items" #slider>
      <ion-item (click)="onClick(item)" lines="none" [ngStyle]="{'text-decoration': (item.complete ? 'line-through' : 'none')}">
        <ion-label position="stacked" *ngIf="item.title">{{item.title}}</ion-label>
        <ion-label position="stacked" [color]="item.title ? 'medium' : 'dark'">{{item.preview || '(Empty)'}}</ion-label>
        <ion-note position="stacked">{{item.time}}</ion-note>
      </ion-item>
      <ion-item-options side="start" (ionSwipe)="onSwipe(item, slider, 'start')" *ngIf="canSwipeStart && canSwipeStart(item)">
        <ion-item-option [color]="swipeStartColor || 'primary'" (click)="onSwipe(item, slider, 'start')">
          <ion-icon slot="icon-only" [name]="swipeStartIcon"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end" (ionSwipe)="onSwipe(item, slider, 'end')" *ngIf="canSwipeEnd && canSwipeEnd(item)">
        <ion-item-option [color]="swipeEndColor || 'primary'" (click)="onSwipe(item, slider, 'end')">
          <ion-icon slot="icon-only" [name]="swipeEndIcon"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-item-group>
</ion-list>
<ion-item *ngIf="ready && !groups.length" class="fadeIn" lines="none">
  <ion-label class="text-center">
    Nothing yet...
  </ion-label>
</ion-item>