<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Settings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="settings">
    <ion-item>
        <ion-label position="fixed">Offline Mode</ion-label>
        <ion-toggle [(ngModel)]="settings.offlineMode" (ionChange)="toggleOfflineMode()" slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
        <ion-label position="fixed">Wi-Fi Only</ion-label>
        <ion-toggle [(ngModel)]="settings.wifiOnly" [disabled]="settings.offlineMode" (ionChange)="save()" slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
        <ion-label position="fixed">Theme</ion-label>
        <span (click)="changeTheme('')" class="select-color" [ngStyle]="{'background-color': getButtonColor('')}">
                &nbsp;
            </span>
        <span *ngFor="let t of themes" (click)="changeTheme(t)" class="select-color" [ngStyle]="{'background-color': getButtonColor(t)}">
            &nbsp;
        </span>
    </ion-item>
</ion-content>