ion-label.label-fixed{
    width: calc(100% - 70px);
}

.select-color{
    display: inline-block;
    width: 6vw;
    height: 6vw;
    border-radius: 15px;
    border: 2px solid black;
    margin-right: 10px;
}

.toggle-inner{
    background-color: #c5c5c5;
}