ion-item:first-child{
    padding-top: 15px;
}

ion-item:nth-child(2){
    height: calc(100% - 30px);
    --min-height: calc(100% - 30px);
} ion-textarea{
    height: 100%;
    --min-height: 100%;
}

ion-input{
    font-weight: bold;
}