<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="requests" (click)="tabChanged('requests')">
      <ion-icon name="checkbox-outline"></ion-icon>
      <ion-label>Requests</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="prayers" (click)="tabChanged('prayers')">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Prayers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="answers" (click)="tabChanged('answers')">
      <ion-icon name="heart-empty"></ion-icon>
      <ion-label>Answers</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
