<ion-header>
    <ion-toolbar>
        <ion-back-button slot="start"></ion-back-button>
        <ion-title>Sign In</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #signInForm="ngForm">
        <ion-item>
            <ion-label position="fixed">Email</ion-label>
            <ion-input name="email" type="email" [(ngModel)]="email" autofocus="true" required="true" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Password</ion-label>
            <ion-input name="password" type="password" [(ngModel)]="password" required="true"></ion-input>
        </ion-item>
        <ion-item lines="none">
            <ion-label>
                <ion-button type="submit" expand="block" size="default" (click)="submit()" [disabled]="!ready || !signInForm.valid">
                    <span *ngIf="!submitting">Sign in</span>
                    <ion-spinner *ngIf="submitting"></ion-spinner>
                </ion-button>
            </ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-note>
                If you've signed in before, you can use the same email and password. If this is your first time,
                welcome! Please enter your email address and a new password.
            </ion-note>
        </ion-item>
    </form>
</ion-content>