ion-item{
  --min-height: 50px;
}

ion-label{
  max-height: 25px;
  font-size: 15px !important;

  &:not(:first-child){
    margin-top: 4px;
  }
}

ion-note{
  width: 100%;
  padding: 5px 0;

  &:last-child{
    font-size: smaller;
    padding-bottom: 15px;
  }
}