<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Prayer Requests
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-grouped-list [items]="items" [ready]="ready" [canSwipeStart]="itemNotComplete" swipeStartColor="success" swipeStartIcon="checkmark-circle-outline"
    (swipeStart)="complete($event)" [canSwipeEnd]="itemNotComplete" swipeEndIcon="chatbubbles" (swipeEnd)="addPrayer($event)"
    (select)="edit($event)"></app-grouped-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fadeIn">
    <ion-fab-button (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>