ion-avatar {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;

    &[color='primary'] {
        background: var(--ion-color-primary);

        ion-icon {
            color: var(--ion-color-primary-contrast);
        }
    }

    &[color='secondary'] {
        background: var(--ion-color-secondary);

        ion-icon {
            color: var(--ion-color-secondary-contrast);
        }
    }

    &[color='medium'] {
        background: var(--ion-color-medium);

        ion-icon {
            color: var(--ion-color-medium-contrast);
        }
    }

    &[color='dark'] {
        background: var(--ion-color-dark);

        ion-icon {
            color: var(--ion-color-dark-contrast);
        }
    }

    &[color='light'] {
        background: var(--ion-color-light);

        ion-icon {
            color: var(--ion-color-light-contrast);
        }
    }

    ion-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

ion-item.profile {
    margin-bottom: 15px;
}

ion-item:not(.profile) {
    --min-height: 40px;

    ion-avatar {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

ion-title ion-icon {
    transform: translateY(3px);
}