<ion-app>

  <ion-menu>
    <ion-header>
      <ion-toolbar>
        <ion-title><ion-icon src="/assets/icon/link.svg"></ion-icon> uplink</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item class="profile" routerLink="/auth/profile" (click)="closeMenu()">
          <ion-avatar color="medium" slot="start">
            <ion-icon name="person" *ngIf="!profile?.photoURL"></ion-icon>
            <ion-img *ngIf="profile?.photoURL" [src]="profile.photoURL"></ion-img>
          </ion-avatar>
          <ion-label>{{profile?.name || 'Profile'}}</ion-label>
        </ion-item>
        <ion-item routerLink="/tabs/requests" (click)="closeMenu()" lines="none">
          <ion-avatar color="light" slot="start">
            <ion-icon name="checkbox-outline"></ion-icon>
          </ion-avatar>
          <ion-label>Prayer Requests</ion-label>
        </ion-item>
        <ion-item routerLink="/tabs/prayers" (click)="closeMenu()" lines="none">
          <ion-avatar color="light" slot="start">
            <ion-icon name="chatbubbles"></ion-icon>
          </ion-avatar>
          <ion-label>Prayer Journal</ion-label>
        </ion-item>
        <ion-item routerLink="/tabs/answers" (click)="closeMenu()" lines="none">
          <ion-avatar color="light" slot="start">
            <ion-icon name="heart-empty"></ion-icon>
          </ion-avatar>
          <ion-label>Answered Prayers</ion-label>
        </ion-item>
        <ion-item routerLink="/settings" (click)="closeMenu()" lines="none">
          <ion-avatar color="light" slot="start">
            <ion-icon name="settings"></ion-icon>
          </ion-avatar>
          <ion-label>Settings</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>

</ion-app>