<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="user && !user.isAnonymous">
        <ion-item *ngIf="profile">
            <ion-avatar color="medium" (click)="changeImage()">
                <ion-icon name="person" *ngIf="!profile.photoURL"></ion-icon>
                <ion-img *ngIf="profile.photoURL" [src]="profile.photoURL"></ion-img>
                <input id="profileImage" type="file" style="display: none" (change)="setImage($event)" />
            </ion-avatar>
            <circle-progress [percent]="uploadPercentage" [radius]="progressRadius" [outerStrokeWidth]="20" *ngIf="uploading">
            </circle-progress>
        </ion-item>
        <ion-item *ngIf="profile">
            <ion-label position="fixed"><b>Name</b></ion-label>
            <ion-input [(ngModel)]="profile.displayName" (ionBlur)="updateProfile()"></ion-input>
        </ion-item>
        <ion-item *ngIf="profile?.email">
            <ion-label position="fixed"><b>Email</b></ion-label>
            <ion-label>{{profile.email}}</ion-label>
        </ion-item>
        <ion-item *ngIf="profile?.phoneNumber">
            <ion-label position="fixed"><b>Phone</b></ion-label>
            <ion-label>{{profile.phoneNumber}}</ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-label>
                <ion-button expand="block" size="default" (click)="signOut()">
                    Sign out
                </ion-button>
            </ion-label>
        </ion-item>
    </div>
    <ion-item button="true" routerLink="/auth/email-sign-in" *ngIf="signIn" class="fadeIn">
        <ion-icon name="mail" slot="start"></ion-icon> Sign in with Email
    </ion-item>
    <!-- <div *ngIf="user?.isAnonymous">
        <ion-item button="true" routerLink="/auth/email-sign-in" *ngIf="signIn" class="fadeIn">
            <ion-icon name="mail" slot="start"></ion-icon> Sign in with Email
        </ion-item>
        <ion-item button="true" (click)="linkWithGoogle()" *ngIf="signIn" class="fadeIn" style="animation-delay: 200ms">
            <ion-icon name="logo-google" slot="start"></ion-icon> Sign in with Google
        </ion-item>
        <ion-item lines="none">
            <ion-label position="stacked">
                <ion-button expand="block" size="default" (click)="signIn = !signIn">
                    {{signIn ? 'Cancel' : 'Sign in'}}
                </ion-button>
            </ion-label>
            <ion-label position="stacked" *ngIf="!signIn">
                <ion-button expand="block" fill="clear" (click)="signOut()">
                    Sign out
                </ion-button>
            </ion-label>
        </ion-item>
    </div> -->
</ion-content>