ion-avatar {
    position: relative;
    width: 50vw;
    height: 50vw;
    margin: 15px auto;
    font-size: 25vw;
    &[color='primary'] {
        background: var(--ion-color-primary);
        ion-icon {
            color: var(--ion-color-primary-contrast);
        }
    }
    &[color='secondary'] {
        background: var(--ion-color-secondary);
        ion-icon {
            color: var(--ion-color-secondary-contrast);
        }
    }
    &[color='medium'] {
        background: var(--ion-color-medium);
        ion-icon {
            color: var(--ion-color-medium-contrast);
        }
    }
    &[color='dark'] {
        background: var(--ion-color-dark);
        ion-icon {
            color: var(--ion-color-dark-contrast);
        }
    }
    &[color='light'] {
        background: var(--ion-color-light);
        ion-icon {
            color: var(--ion-color-light-contrast);
        }
    }
    ion-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

circle-progress{
    position: absolute;
    top: 11px;
    left: 25vw;
    width: calc(50vw + 8px);
    height: calc(50vw + 8px);
}
