<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="isNew !== undefined" class="fadeIn"><span *ngIf="isNew">New </span>Answer to Prayer</ion-title>
        <ion-buttons slot="end" *ngIf="item">
            <ion-button (click)="showMenu()">
                <ion-icon name="more"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item *ngIf="item" lines="none">
        <ion-textarea [autofocus]="isNew" [debounce]="500" [(ngModel)]="item.text"
            (ionChange)="save()" placeholder="Notes about the answer, or a prayer of thanks..."></ion-textarea>
    </ion-item>
</ion-content>