// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import './theme/variables.scss';

ion-toolbar {
    --background: var(--ion-color-light-tint);
}

ion-title {
    font-family: 'Quicksand', sans-serif;
}

.item-group-ios ion-item-divider {
    --background: var(--ion-color-light-shade);
}

ion-item-divider {
    --color: var(--ion-color-light-contrast);
}

ion-note,
ion-tab-button:not(.tab-selected) {
    --color: var(--ion-color-medium);
}

ion-fab-button {
    --color: var(--ion-color-primary-contrast);
}

ion-fab-list ion-fab-button {
    --color: var(--ion-color-light-contrast);
}

ion-toggle {
    --background: var(--ion-color-medium-tint);
    --background-checked: var(--ion-color-medium-shade);
}

.menu-content ion-header {
    z-index: 20;
}

.action-sheet-button.sc-ion-action-sheet-ios {
    background: var(--ion-color-light-tint);
}

button.action-sheet-destructive.sc-ion-action-sheet-md {
    color: var(--ion-color-danger);
}

div.action-sheet-group.action-sheet-group-cancel.sc-ion-action-sheet-md {
    margin-top: 20px;
}

ion-popover.centered .popover-content {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    width: 90% !important;
    transform-origin: center;
}

.text-center {
    text-align: center;
}

.fadeIn {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

.fadeOut {
    animation: fadeOut 1s ease forwards;
}

.delay {
    animation-delay: 500ms;
}

.fast {
    animation-duration: 500ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}