<ion-header>
  <ion-toolbar>
    <ion-title>
      {{title || 'Select...'}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-grouped-list [items]="items" [ready]="true" (select)="select($event)"></app-grouped-list>
  
</ion-content>