ion-title{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100px;
    transform: translateY(-50%);
    text-align: center;
    animation: fadeIn 2s ease, forwards, slideUp 1s ease 2s forwards;
}

p{
    opacity: 0;
    text-align: center;
    animation: fadeIn 2s ease 2.5s forwards;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-40px);
    font-family: 'Quicksand', sans-serif;
}

ion-fab{
    opacity: 0;
    animation: fadeIn 2s ease 3s forwards;
    transform: translateY(40px);
}

@keyframes slideUp{
    0%{
        transform: translateY(-50%);
    }
    100%{
        transform: translateY(-90px);
    }
}