<ion-content>
    <ion-title>Hello</ion-title>
    <p>Get started by signing in.</p>
    <ion-fab vertical="center" horizontal="center" slot="fixed">
        <ion-fab-button routerLink="/auth/email-sign-in">
            <ion-icon name="log-in"></ion-icon>
        </ion-fab-button>
        <!-- <ion-fab-list side="bottom">
            <ion-fab-button routerLink="/auth/email-sign-in">
                <ion-icon name="mail"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="signInWithGoogle()">
                <ion-icon name="logo-google"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="signInAnonymously()">
                <ion-icon name="arrow-forward"></ion-icon>
            </ion-fab-button>
        </ion-fab-list> -->
    </ion-fab>
</ion-content>